Repository autowarefoundation/autoware_common, changes with the owners that .github/CODEOWNERS names for each.
All owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners, ryohsuke.mitsudome@tier4.jp

add autoware_msgs to build depends
  build_depends.repos
Owners: none

feat!: replace HADMap with Lanelet (#133)
  build_depends.repos
  tmp/lanelet2_extension/include/lanelet2_extension/utility/route_checker.hpp
  tmp/lanelet2_extension/lib/route_checker.cpp
  tmp/lanelet2_extension/package.xml
  tmp/lanelet2_extension/test/src/test_route_checker.cpp
Owners: ryohsuke.mitsudome@tier4.jp, @autowarefoundation/autoware-global-codeowners

ci: remove Galactic CI workflows
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test-with-reverse-depends.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
Owners: none

ci(pre-commit): update commit message
  .pre-commit-config.yaml
Owners: none

ci(pre-commit): update commit message (#137)
  .pre-commit-config.yaml
Owners: none

ci: remove Galactic CI workflows (#136)
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test-with-reverse-depends.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
Owners: none

build: add exec_depend on ros_environment
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

build: add exec_depend on ros_environment (#142)
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

Revert "build: add exec_depend on ros_environment (#142)"
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

revert: revert "build: add exec_depend on ros_environment" (#143)
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

build: add runtime dependencies
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

build: add runtime dependencies (#144)
  autoware_cmake/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

feat: added esteve as a maintainer
  autoware_cmake/package.xml
  autoware_lint_common/package.xml
  autoware_utils/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

chore: added esteve as a maintainer (#146)
  autoware_cmake/package.xml
  autoware_lint_common/package.xml
  autoware_utils/package.xml
Owners: kenji.miyake@tier4.jp, @autowarefoundation/autoware-global-codeowners

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
autoware_cmake/** kenji.miyake@tier4.jp @autowarefoundation/autoware-global-codeowners
autoware_lint_common/** kenji.miyake@tier4.jp @autowarefoundation/autoware-global-codeowners
autoware_utils/** kenji.miyake@tier4.jp @autowarefoundation/autoware-global-codeowners
tmp/lanelet2_extension/** ryohsuke.mitsudome@tier4.jp @autowarefoundation/autoware-global-codeowners
