Repository autowarefoundation/autoware_common, pull requests merged in 2024-06, with the labels that each got.

#250 ci: overhaul build-and-test derivatives and split clang-tidy
  .github/workflows/build-and-test-arm64.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/clang-tidy-differential.yaml
Labels: tag:run-build-and-test-differential, tag:run-clang-tidy-differential, type:arm64

#241 fix: boost optional build error on rolling environment
  tmp/lanelet2_extension/test/src/test_regulatory_elements.cpp
Labels: tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#254 ci(markdownlint.yaml): allow images without alt text
  .markdownlint.yaml
Labels: tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#252 feat(lanelet2_extension): overwriteLaneletsCenterline supports "waypoints"
  tmp/lanelet2_extension/docs/lanelet2_format_extension.md
  tmp/lanelet2_extension/include/lanelet2_extension/utility/utilities.hpp
  tmp/lanelet2_extension/lib/utilities.cpp
  tmp/lanelet2_extension/test/src/test_utilities.cpp
  tmp/lanelet2_extension_python/src/utility.cpp
Labels: tag:run-build-and-test-differential, tag:run-clang-tidy-differential

#258 docs: add notice for archiving the repository
  README.md
Labels: tag:run-build-and-test-differential
